*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
  box-sizing: inherit;
  overflow-x: hidden;
}
h1 {
  margin: 0;
  overflow-y: hidden;
}
.h5 {
  overflow-y: hidden;
}
img {
  overflow-y: hidden;
}
h2 {
  overflow-y: hidden;
}
body,
html {
  border: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  scroll-behavior: smooth;
}
body {
  background-color: rgb(251, 250, 245);
}
.landing {
  height: 100vh;
  width: 100vw;
  position: relative;
}
.landing .background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  object-position: top;
  z-index: -10;
}
.landing .gradient {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to right bottom,
    rgba(15, 11, 11, 0.534),
    rgba(0, 0, 0, 0.658)
  );
  z-index: -9;
}

.name {
  font-size: 64px;
  font-family: "Inconsolata", monospace;
  color: white;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 0;
  /* margin-top: 100px; */

  overflow: hidden;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  flex-flow: column;
  width: auto;
}

.socials {
  width: 100vw;

  /* margin-top: -200px; */
}
.socials img {
  padding: 20px;
  width: 100px;
  padding-top: 0;
}

.background {
  background-color: rgb(251, 250, 245);
  width: 100vw;
}

.projects {
  height: auto;
  width: 80vw;
  position: relative;
  background-color: rgb(251, 250, 245);
  padding: 20px;
  overflow: hidden;
  margin: auto;
  
}
.projects h1 {
  text-align: center;
  margin-top: 50px;
  overflow-y: hidden;
  margin-bottom: 20px;
  height: 50px;
}
.aa {
  text-align: center;
  padding: 10px;
}
.ab {
  border: 1px solid black;
  padding: 5px;
}
.projects .img {
  width: auto;
  height: 200px;
}
.projects .ind {
  margin-top: 30px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin-top: 30px;
}

.button .btn {
  width: 20vw;
  height: 10vh;
  font-size: 1.3rem;
}

.contact {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: #212529;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-form {
  background-color: rgb(251, 250, 245);
  width: 50vw;
  height: 25vw;
  box-shadow: 12px 12px 2px 1px rgba(106, 106, 134, 0.363);
  flex-wrap: wrap;
}

.contact-form h2 {
  margin-top: 40px;
  overflow-y: hidden;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.languages {
  display: flex;
  justify-content: space-between;
}

.languages h1 {
  font-size: 3em;
  margin: 0 10px 0 10px;
}

.back-card {
  background-color: #212529;
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  flex-flow: column;
  height: 100%;

}

.front-card {
  background-color: whitesmoke;
  position: absolute;
  overflow-y: hidden;
}

.back-card button {
  background-color: #198754;
  width: 50%;
  margin: auto;
  color: whitesmoke;
  height: 15%;
  border-radius: 10px;
  transition: 0.3s ease-in-out all;
}
.back-card button:hover {
  background-color: #06af60;
}

.card:hover .front-card {
  transform: rotateY(180deg);
}
.card:hover .back-card {
  transform: rotateY(0deg);
}

.card-side {
  backface-visibility: hidden;
  width: 100%;
  transition: all 0.6s ease-in-out;
  /* position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  flex-flow: column; */
  height: 100%; 
}
.card {
  width: fit-content;
  position: relative;
  height: 500px;
  width: 370px;
  background-color: rgba(251, 250, 245, 0) !important;
  transition: 0.3s ease-in-out all;
  text-decoration: none;
  border: none !important;
  overflow-y: hidden;
  

}

.card-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap !important;
}
.card img{
  width: 100%;
  height: 200px;
  
}

.card h2{
  text-align: center;
}
.card p{
  padding: 15px;
}