
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
  box-sizing: inherit;
  overflow-x: hidden;
}
h1{
    margin: 0;
}
body, html {
    border: 0;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    scroll-behavior: smooth;
}
.landing {
  height: 100vh;
  width: 100vw;
  position: relative;
}
.landing .background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  object-position: top;
  z-index: -10;
}
.landing .gradient {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to right bottom,
    rgba(15, 11, 11, 0.534),
    rgba(0, 0, 0, 0.658)
  );
  z-index: -9;
}

.name {
  font-size: 64px;
  font-family: 'Inconsolata', monospace;
  color: white;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 0;
  /* margin-top: 100px; */
  
  overflow: hidden;
  
  
  
}



.header{
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    flex-flow: column;
    width: auto;
    
    
  
}

.socials{
    width: 100vw;
   
    /* margin-top: -200px; */
  
}
.socials img{
    padding: 20px;
    width: 100px;
    padding-top: 0;
}


.projects {
    height: auto;
    width: 100vw;
    position: relative;
    background-color: rgb(251, 250, 245);
    padding: 20px;
    overflow: hidden;
  }
  .projects h1{
    text-align: center;
    margin-top: 50px;
    overflow-y: hidden;
    margin-bottom: 20px;
    height: 50px;
  }
  .aa{
      text-align: center;
      padding: 10px;
      
  }
  .ab{
    border: 1px solid black;
    padding: 5px;
  }
  .projects .img{
    width: auto;
    height: 200px;
  }
  .projects .ind{
    margin-top: 30px;
  }